@import 'social'
@import 'logo'
@import 'strategic'

.copyright
  position: absolute
  left: 150px
  bottom: 20px
  margin: 0
  color: $main-color
  +r(1471)
    left: 15px
  +r(992)
    position: static
    left: auto
    bottom: auto
    text-align: center
  a
    text-decoration: underline
    &:hover
      color: #fff