.form
  &-group
    position: relative
  &__field
    width: 100%
    padding: 0
    background: none
    border: 0
    border-bottom: 1px solid $cod-gray
    border-radius: 0
    box-shadow: none
    font-size: 13px
    color: #000
    text-align: left
    cursor: pointer
    &::placeholder
      color: #000
    &:focus
      outline: none
    &--textarea
      height: 23px
      +transition
      &:focus
        height: 100px