section(style="background-image: url('static/images/content/about-bg.jpg')").hero.hero--inner
  .container
    .hero__content
      h1 About us
      p Specialist solely focused on achieving your Real Estate goals, through collective, competent and bespoke collaboration.
// /.hero