section.passion
  .container
    .row.passion__wrap
      .col-lg-6.passion__item
        img(src="static/images/content/passion.jpg", alt="").passion__img
      .col-lg-6.passion__item
        .passion__content
          h2.section-title Our passion
          p Adding value is the forefront of all our work here at The CREM Group. At the end of the day, maximizing the value of your largest asset is the goal in each real estate transaction. Whether it’s showcasing and negotiating high-end luxury properties, meticulously processing probate/trust sales or representing buyers in the purchase of their first home.

// /.passion