section.strategic
  .container
    h2.section-title Strategic approach

    .strategic__content
      p Simplifying the complicated. A complete, all encompassing Real Estate agency specializing in both Residential and Commercial brokerage services inclusive of sale, purchase and leasing activities. Our sole focus is not only achieving our clients real estate goals, but surpassing any and all expectations. With an emphasis on design throughout our proprietary marketing platform, each property is custom curated to reach the highest targeted audience possible.
      p In utilizing unique collaborations with accomplished contractors, architects, engineers, designers and artisans, every goal for each discerning client, whether it’s a sale, purchase or investment, can be fulfilled.

// /.strategic