section.team
  .container
    h2.section-title The team

    .team__wrap
      .team__item
        .team__inner
          .team__img-wrap
            img(src="static/images/content/team-1.jpg", alt="", width="200")
          p.team__name Daniel Taylor
          p.team__position Broker/Principal
          .team__contact
            a(href="tel:5629994864").team__phone (562) 999-4864 <br>
            a(href="mailto:daniel@cremgroupre.com").team__email daniel@cremgroupre.com
          ul.team__social
            li
              a(href="#", target="_blank").team__social-link
                +icon('linked', 'team__social-icon team__social-icon--linked')
            li
              a(href="#", target="_blank").team__social-link
                +icon('face', 'team__social-icon team__social-icon--face')
            li
              a(href="#", target="_blank").team__social-link
                +icon('insta', 'team__social-icon team__social-icon--insta')
      .team__item
        .team__inner
          .team__img-wrap
            img(src="static/images/content/team-2.jpg", alt="", width="200")
          p.team__name Mark Cianciulli
          p.team__position Co-founder/Principal
          .team__contact
            a(href="tel:3236835100").team__phone (323) 683-5100 <br>
            a(href="mailto:mark@cremgroupre.com").team__email mark@cremgroupre.com
          ul.team__social
            li
              a(href="#", target="_blank").team__social-link
                +icon('linked', 'team__social-icon team__social-icon--linked')
            li
              a(href="#", target="_blank").team__social-link
                +icon('face', 'team__social-icon team__social-icon--face')
            li
              a(href="#", target="_blank").team__social-link
                +icon('insta', 'team__social-icon team__social-icon--insta')
      .team__item
        .team__inner
          .team__img-wrap
            img(src="static/images/content/team-3.jpg", alt="", width="200")
          p.team__name Alex Galindo
          p.team__position Broker
          .team__contact
            a(href="tel:8556555544").team__phone (855) 655-5544 <br>
            a(href="mailto:alex@cremgroupre.com").team__email alex@cremgroupre.com
          ul.team__social
            li
              a(href="#", target="_blank").team__social-link
                +icon('linked', 'team__social-icon team__social-icon--linked')
            li
              a(href="#", target="_blank").team__social-link
                +icon('face', 'team__social-icon team__social-icon--face')
            li
              a(href="#", target="_blank").team__social-link
                +icon('insta', 'team__social-icon team__social-icon--insta')

// /.team