section.testimonial
  .container
    .testimonial__row
      h2.section-title <span>What</span> <span>They</span> <span>Say</span>
      blockquote.testimonial__quote
        p Daniel helped sell my home for 45K above list price. We had multiple offers above list price and an excepted offer within 2 weeks. Escrow was very easy and wrapped in less than 30 days.
        cite.testimonial__author Rudie


// /.testimonial