extends template/main

block variables
  - var title = 'Home'
  - var pageClass = ''

block content
  include pages/index/hero
  //- include pages/index/qs-form
  include pages/index/about
  include pages/index/story
  include pages/index/services
  include pages/index/comm
  include pages/index/blog
  include pages/index/newsletter
  include pages/index/socialmedia