.s-about
  &__wrap
    padding: 180px 150px 160px 56.8%
    background:
      repeat: no-repaet
      position: center top
      size: cover
  &__content
    h2
      margin-bottom: 30px
    p
      font-size: 16px
      &:last-of-type
        margin-bottom: 50px
    .btn
      max-width: 225px
      width: 100%