footer.footer
  .container
    .footer__wrap
      .footer__col.footer__col--1
        .footer__col-wrap
          a.logo.footer__logo(href="#")
            img(src="static/images/general/logo-white.svg", width="162", alt="Carter Homes")
          ul.social.footer__social
            li
              a(href="#", target="_blank")
                i.fab.fa-facebook-f
            li
              a(href="#", target="_blank")
                i.fab.fa-twitter
            li
              a(href="#", target="_blank")
                i.fab.fa-instagram
            li
              a(href="#", target="_blank")
                i.fab.fa-linkedin-in
            li
              a(href="#", target="_blank")
                i.fab.fa-youtube
            li
              a(href="#", target="_blank")
                i.fab.fa-pinterest-p
            li
              a(href="#", target="_blank")
                i.fab.fa-google-plus-g

      .footer__col.footer__col--2
        .footer__col-wrap
          h4.footer__title About crem
          .footer__about
            p 301 ocean ave., suite 1700 <br>long beach ca 90402
            p
              a(href="tel:8556555544") (855) 655-5544 <br>
              a(href="mailto:info@cremgroupre.com") info@cremgroupre.com
            p monday - saturday: <br> 8:00 am - 5:00 pm <br>sunday: closed

      .footer__col.footer__col--3
        .footer__col-wrap
          h4.footer__title Latest from our journal
          .footer__journal
            .footer__journal-item
              a(href="#") Tips for first-time homebuyers
              time.footer__journal-date mar 23
            .footer__journal-item
              a(href="#") Signs that now is the time to sell your home
              time.footer__journal-date mar 23
            .footer__journal-item
              a(href="#") Remodeling projects that will boost your home's value
              time.footer__journal-date mar 23

      .footer__col.footer__col--4
        .footer__col-wrap
          h4.footer__title Quick links
          ul.footer__nav
            li
              a(href="#") Seller
            li
              a(href="#") Buyer
            li
              a(href="#") Concierge
            li
              a(href="#") About us
            li
              a(href="#") Journal
            li
              a(href="#") Contact

    p.copyright © 2018. The Crem Group. <br>All Rights Reserved. 
      a(href="#") Sitemap.

.overlay