section.s-about
  .container
    .s-about__wrap(style="background-image: url('static/images/content/s-about-bg.jpg')")
      .s-about__content
        h2 Our story
        p Born from the desire to establish a new benchmark in Real Estate brokerage services. The CREM Group leverages tech, design, hyper-detailed client-centric commitment, architectural passion and legal acumen ensuring each client receives unmatched personalized service throughout and beyond their real estate journey.
        a(href="#").btn.btn--black Know More

// /.s-about