section.comm
  .container
    h2.section-title Our curated neighborhood guides
    .row.com__list
      .col-md-6.comm__item
        a(href="#").comm__link
          img(src="static/images/content/comm-1.jpg", alt="")
          .comm__desc
            h3 Los Angeles Communities
      .col-md-6.comm__item
        a(href="#").comm__link
          img(src="static/images/content/comm-2.jpg", alt="")
          .comm__desc
            h3 Orange County Communities

// /.comm