section(style="background-image: url('static/images/content/hero.jpg')").hero
  .container
    .hero__content
      p Residential & Commercial
      h1 Boutique brokerage services. Competently.
      .hero__btns
        a(href="#").btn  Sell your home
        a(href="#").btn  Home valuation
// /.hero