section(style="background-image: url('static/images/content/hero.jpg')").hero
  .container
    .hero__content
      .hero__content-list
        .hero__content-item
          p Residential & Commercial
          h1 Boutique brokerage services. Competently.
        .hero__content-item
          p Residential & Commercial
          h1 Boutique brokerage services. Competently.1
        .hero__content-item
          p Residential & Commercial
          h1 Boutique brokerage services. Competently.2
      .hero__btns
        a(href="#").btn  Sell your home
        a(href="#").btn  Home valuation
// /.hero