section.s-services
  .container
    .s-services__wrap
      h2.section-title Our services

      .s-services__list
        .s-services__item
          img(src="static/images/content/icon-sellers.svg", alt="", width="40").s-services__icon
          h3.s-services__title Sellers
          p Much more than a For Sale sign and an MLS number. The CREM Group leverages competence, technology, and grassroots marketing to sell
          a(href="#").s-services__link Show More
        .s-services__item
          img(src="static/images/content/icon-buyers.svg", alt="", width="40").s-services__icon
          h3.s-services__title Buyers
          p Utilizing the latest technology and grassroots local knowledge to guide you home.
          a(href="#").s-services__link Show More
        .s-services__item
          img(src="static/images/content/icon-concierge.svg", alt="", width="40").s-services__icon
          h3.s-services__title Concierge
          p In going above and beyond for each and every client, we also offer assistance coordinating any supplemental services you might require during
          a(href="#").s-services__link Show More
// /.services