section.socialmedia
  .container
    h2.section-title Follow us

    .socialmedia__wrap
      ul.instagram-pics
        li
          a(href="#")
            img(src="static/images/content/inst-1.jpg", alt="")
        li
          a(href="#")
            img(src="static/images/content/inst-2.jpg", alt="")
        li
          a(href="#")
            img(src="static/images/content/inst-3.jpg", alt="")
        li
          a(href="#")
            img(src="static/images/content/inst-4.jpg", alt="")
        li
          a(href="#")
            img(src="static/images/content/inst-5.jpg", alt="")
        li
          a(href="#")
            img(src="static/images/content/inst-6.jpg", alt="")

// /.socialmedia