section.story
  .container
    h2.section-title Success story

    .row.story__list
      .col-lg-4.story__item
        .story__item-inner
          .story__img-wrap
            img(src="static/images/content/story-1.jpg", alt="")
          .story__content
            h3
              a(href="#") John Foley
            p Prior to purchasing my first home in 2016 - Chloe helped me with several different moves throughout my first few years living in Austin. I chose to work with Chloe...
          .story__bottom
            a(href="#").story__read-more Read More
      .col-lg-4.story__item
        .story__item-inner
          .story__img-wrap
            img(src="static/images/content/story-2.jpg", alt="")
          .story__content
            h3
              a(href="#") Veronica J. Lomeli
            p I interviewed 3 different realtors before carefully selecting Chloe to help me find the home of my dreams. Using her services proved to be one of the smartest decisions I could have made! Relying on her knowledge and...
          .story__bottom
            a(href="#").story__read-more Read More
      .col-lg-4.story__item
        .story__item-inner
          .story__img-wrap
            img(src="static/images/content/story-3.jpg", alt="")
          .story__content
            h3
              a(href="#") Katy Malone
            p Chloe has been a tremendous business partner for me over the last several years. As a Recruiter, I often hire candidates from all over the country and relocate them to the Austin. Many of them knowing little to nothing about the Austin area.
          .story__bottom
            a(href="#").story__read-more Read More

// /.story